<!--order.wxml-->
<navigator class="return-index-btn" open-type="switchTab" wx:if="{{show_index}}" url="/pages/index/index">
  <image src="/images/nav-icon-index.png" style="width: 50rpx;height: 50rpx"></image>
</navigator>
<view class="flex-row tab-bar">

  <view class="flex-grow-1">
    <navigator class="{{status==0?'active':''}}" url="/pages/order/order?status=0" open-type="redirect">
      <text>待付款</text>
    </navigator>
  </view>
  <view class="flex-grow-1">
    <navigator class="{{status==1?'active':''}}" url="/pages/order/order?status=1" open-type="redirect">
      <text>待发货</text>
    </navigator>
  </view>
  <view class="flex-grow-1">
    <navigator class="{{status==2?'active':''}}" url="/pages/order/order?status=2" open-type="redirect">
      <text>已发货</text>
    </navigator>
  </view>
  <view class="flex-grow-1">
    <navigator class="{{status==3?'active':''}}" url="/pages/order/order?status=3" open-type="redirect">
      <text>已完成</text>
    </navigator>
  </view>
  <view class="flex-grow-1">
    <navigator class="{{status==4?'active':''}}" url="/pages/order/order?status=4" open-type="redirect">
      <text>已关闭</text>
    </navigator>
  </view>
</view>
<view class="order-list">
  <view wx:if="{{show_no_data_tip}}" class="no-data-tip">暂无相关订单</view>
  <view class="order-item" wx:for="{{order_list}}" wx:for-item="order">
    <navigator url="{{status==4?'/pages/order-refund-detail/order-refund-detail?id='+order.order_refund_id:'/pages/order-detail/order-detail?id='+order.id}}">
      <view class="flex-row order-info">
        <view class="flex-grow-1">订单号:{{order.orderSn}}</view>
        <view class="flex-grow-0">{{order.createTime}}</view>
      </view>

      <view class="goods-list">
        <view class="goods-item flex-row" wx:for="{{order.goodsList}}" wx:for-item="goods">
          <view class="flex-grow-0" style="overflow: visible">
            <image class="goods-pic" mode="aspectFill" src="{{goods.pic}}" />
          </view>
          <view class="flex-grow-1 flex-col">
            <view class="flex-grow-1">
              <view class="goods-name">{{goods.name}}</view>
              <view class="attr-list">
                <view class="attr-item" wx:for="{{goods.attr_list}}" wx:for-item="attr">
                  {{attr.attr_group_name}}:{{attr.attr_name}}
                </view>
              </view>
            </view>
            <view class="flex-grow-0 flex-row">
              <view class="flex-grow-1 num">×{{goods.count}}</view>
              <view class="flex-grow-0 price">￥:{{goods.price}}</view>
            </view>
          </view>
        </view>
      </view>
    </navigator>
    <view class="flex-row">
      <view class="flex-grow-1 flex-y-center">
        <block wx:if="{{status==4}}">
          <block wx:if="{{order.refund_type==1}}">
            退货退款：
            <text style="color: #ff4544">￥{{order.refund_price}}</text>
          </block>
          <block wx:if="{{order.refund_type==2}}">
            换货
          </block>
        </block>
        <block wx:else>合计：￥{{order.totalAmount}}</block>
      </view>
      <view class="flex-grow-0 flex-y-center flex-row">
        <block wx:if="{{status==4}}">
          <view wx:if="{{order.refund_status==0}}">等待处理</view>
          <view style="color: #36ba75" wx:if="{{order.refund_status==1}}">已同意并退款</view>
          <view style="color: #36ba75" wx:if="{{order.refund_status==2}}">已同意换货</view>

          <block wx:if="{{order.refund_status==3}}">
            <view style="color: #ff4544" wx:if="{{order.refund_type==1}}">已拒绝退货退款</view>
            <view style="color: #ff4544" wx:if="{{order.refund_type==2}}">已拒绝换货</view>
          </block>
        </block>
        <block wx:else>
          <view class="flex-grow-1" wx:if="{{order.is_send==0}}">
            <text wx:if="{{order.apply_delete==1}}">取消申请中</text>
            <button wx:else class="order-option-btn" bindtap="orderRevoke" data-id="{{order.order_id}}">取消
            </button>
          </view>
          <view class="flex-grow-1" wx:if="{{order.is_pay==0}}">
            <button class="order-option-btn" bindtap="orderPay" data-id="{{order.order_id}}">付款</button>
          </view>
          <view class="flex-grow-1" wx:if="{{order.is_pay == 1 && order.is_offline == 1 && order.is_send == 0}}">
            <view class="order-option-btn clerk flex-y-center" bindtap="orderQrcode" data-index="{{index}}">
              <image src="/images/icon-clerk.png" style='width:26rpx;height:26rpx;margin-right:10rpx'  data-index="{{index}}"/> 核销码
            </view>
          </view>
          <view class="flex-grow-1 flex-row" wx:if="{{order.is_send==1&&order.is_confirm==0}}">
            <view class="flex-grow-0">
              <navigator class="order-option-btn" url="/pages/express-detail/express-detail?id={{order.order_id}}">物流
              </navigator>
            </view>
            <view class="flex-grow-0">
              <button class="order-option-btn" bindtap="orderConfirm" data-id="{{order.order_id}}">确认收货
              </button>
            </view>
          </view>
          <view class="flex-grow-1" wx:if="{{order.is_send==1&&order.is_confirm==1&&order.is_comment==0}}">
            <navigator class="order-option-btn" url="/pages/order-comment/order-comment?id={{order.order_id}}">评价
            </navigator>
          </view>
        </block>
      </view>
    </view>
  </view>

</view>
<view class='flex-row flex-y-center modal {{hide==1?"hide":""}}' bindtap='hide'>
  <view class='flex-y-center' style='width:100%;height:800rpx;padding:100rpx;'>
    <view style='background-color:#fff;width:100%;height:100%;border-radius:10rpx;padding:0 50rpx;'>
      <view class='flex-x-center' style='width:100%;height:50rpx;margin-top:50rpx;font-size:13pt;margin-bottom:20rpx'>提货二维码</view>
      <image src='{{qrcode}}' style='width:450rpx;height:450rpx;'></image>
    </view>
  </view>
</view>